@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Brand Colors from Custom Palette */
  --color-brand-red: #FF4646;
  /* Primary Action / Brand Color */
  --color-brand-dark: #140F0F;
  /* Primary Text */
  --color-brand-brown: #2B1F1E;

  /* Brand Neutrals */
  --color-neutral-light: #EFEEEC;
  /* App Background */
  --color-neutral-warm: #FDFDF8;
  /* Light Hover State */
  --color-neutral-medium: #C8C2B8;
  /* Borders */
  --color-neutral-dark: #7F746C;
  /* Secondary Text */
}

@layer base {
  body {
    background-color: var(--color-neutral-light);
    color: var(--color-brand-dark);
  }
}